body{
    margin: 2rem;
    align-items: center;
    background-image: url(images/backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.done{
    background-color: rgb(68, 151, 68);
    border-radius: 5px;
    margin-left: 1rem;
    width: 35%;
    height: 30px;
}
.done:hover{
    color: white;
    font-weight: bold;
    background-color: green;
}
.done-list{
    background-color: rgb(68, 151, 68);
    border-radius: 5px;
    margin-left: 1rem;
    width: 25%;
    height: 30px;
}
.done-list:hover{
    color: white;
    font-weight: bold;
    background-color: green;
}
.delete{
    background-color: rgb(255, 0, 0,0.4);
    border-radius: 5px;
    width: 35%;
    height: 30px;
}
.delete:hover{
    color: white;
    font-weight: bold;
    background-color: red;
}
.delete-list{
    background-color: rgb(255, 0, 0,0.4);
    border-radius: 5px;
    width: 35%;
    height: 30px;
}
.delete-list:hover{
    color: white;
    font-weight: bold;
    background-color: red;
}
.edit{
    background-color: rgb(0, 0, 255,0.4);
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 35%;
    height: 30px;
}
.edit:hover{
    color: white;
    font-weight: bold;
    background-color: blue;
}
.edit-list{
    background-color: rgb(0, 0, 255,0.4);
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 25%;
    height: 30px;
}
.edit-list:hover{
    color: white;
    font-weight: bold;
    background-color: blue;
}
th{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 27%;
    height: 2rem;
}
td{
    /* border-bottom: 1px solid black; */
    padding-top: 2rem;
    background-color: blanchedalmond;
}
table{
    margin-bottom: 3rem;
}
.added{
    color: rgb(53, 45, 45);
    font-style: italic;
}
.task-name{
    margin: 2rem;
}
button{
    border: none;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0,0.3);
}
.working-space{
    background-color: white;
    width: 50%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0,0.3);
    margin: 3rem;
    padding: 1rem;
}
.working-space:hover{
    background-color: rgba(0, 0, 0,0.3);
    margin-top: 3rem;
    color: white;
}
input{
    border-radius: 5px;
    margin: 1rem;
    height: 30px;
}
.submit-button{
    border-radius: 5px;
    background-color: rgb(70, 156, 70);
    height: 30px;
    width: 30%;
    color: white;
    margin: 2rem;
}
.submit-button:hover{
    font-weight: bold;
    background-color: green;
}
.add-task-button{
    border-radius: 5px;
    background-color: rgb(70, 156, 70);
    height: 30px;
    width: 25%;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-left: 57%;
    margin-bottom: 2rem;
}
.add-task-button:hover{
    font-weight: bold;
    background-color: green;
    width: 30%;
}
.list-task-button{
    border-radius: 5px;
    background-color: rgb(88, 74, 153);
    height: 30px;
    width: 25%;
    color: white;
    font-size: large;
    font-weight: bold;
    margin-left: 57%;
    margin-bottom: 2rem;
}
.list-task-button:hover{
    font-weight: bold;
    background-color: blue;
    width: 30%;
}
.h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-overflow: 1px 1px 2px rgba(0, 0, 0,0.2);
    font-size: 3rem;
}
.h1:hover{
    color: rgb(187, 94, 7);
    font-weight: bold;
}
label{
    font-weight: bold;
}
form:hover{
    padding-top: 1rem;
}
legend{
    background-color: rgba(0, 0, 0,0.5);
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer{
    background-color: rgb(141, 130, 130);
    padding: 2%;
}
textarea{
    border-radius: 5px;
    width: 40%;
    height: 3rem;
}
.top-buttons{
    display: flex;
}
.task-description{
    color: rgba(0, 0, 0,0.6);
    font-weight: bold;
}
